
body {
    margin: 0;
    padding: 0;
    width: 100%vh;
    height: 100%px;
    background-image: url(img/back_claro.jpg);
}

body.dark {
    background-image: url(img/back_escuro.jpg);
}

#container {
    height: 100%vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#forms {
    margin: 50px;
    background-color: rgba(181, 109, 195, 0.999);
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    border-radius: 30px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    height: fit-content;
}

h1 {
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2px;
}

h2{
    color:whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 95px;
    font-size: 30px;
}    

#form_header {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#form h2::before {
    position: absolute;
    content: '';
    width: 65%;
    background-color: whitesmoke;
    height: 2px;
    bottom: 0px;
    border-radius: 5px;
}

#mode {
    cursor: pointer;
    font-size: 20px;
}

#mode:hover {
    transform: scale(1.05);
}

#icons img {
    width: 50px;
}

#icons {
    display: flex;
    justify-content: space-around;
}

#inputs {
    display: flex;
    flex-direction: column;
}

.input-box1{
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 5px;

}
.input-box2{
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 5px;
}

.input-box3{
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 5px;
    position: relative;
    right: 10px;
}

#opcao {
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    font-size: 20px;
    margin: -24px;
    left: 28px;
}

#text-box {
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: relative;
    margin-top: -10px;
    position: relative;
    left: 4px;
}


#botao {
    height: 40px;
    width: 120px;
    position: relative;
    left: 55px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: rgba(41, 214, 18, 0.941);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -15px;
}

#botao:hover {
    transform: scale(1.05);
}

.dark#forms {
    color: white;
    background-color: rgb(11, 10, 10);
}

@media (max-width: 586px) {
    body {
        width: 100%vh;
        height: 100%px;
    }

    #forms {
        margin: 55px;
        padding: 15px 15px;

    }

    .input-box1 {
        font-size: 15px;
    }

    .input-box2 {
        font-size: 15px;
    }

    .input-box3 {
        font-size: 15px;
        position: relative;
        right: 30px;
    }

    #opcao {
        font-size: 15px;
        position: relative;
        right: 35px;
    }

    #text-box {
        font-size: 15px;
        left: 5px;
    }

    #botao {
        height: 35px;
        width: 99px;
        position: relative;
        left: 65px;
        font-size: 13px;
    }

}

@media (max-width: 768px) {

    .input-box3 {
        position: relative;
        right: 15px;
    }

    #text-box {
        left: 4px;
    }

}

